@{
    Layout = null;
}

<form action="/Auth/Login" method="post">

    <label for="correo">Usuario: </label>
        <input type="text" id="correo" name="correo" required>

        <label for="clave">Clave: </label>
            <input type="password" id="clave" name="clave" required>
            <button type="submit">Iniciar Sesión</button>
</form>
