@model Proyecto.Models.AuxiliarAlmacen

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Estas seguro de eliminar?</h3>
<div>
    <h4>AuxiliarAlmacen</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Credencial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Credencial)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <br>
        <div class="form-group d-flex gap-3">
            <input type="submit" value="Eliminar" class="btn btn-danger mr-2" />
            <a asp-action="Index" class="btn btn-lg btn-outline-dark shadow-sm">Volver a la lista</a>
        </div>
    </form>
</div>
