@model Proyecto.Models.Inventario

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Inventario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CantidadMinima" class="control-label"></label>
                <input asp-for="CantidadMinima" class="form-control" />
                <span asp-validation-for="CantidadMinima" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadMaxima" class="control-label"></label>
                <input asp-for="CantidadMaxima" class="form-control" />
                <span asp-validation-for="CantidadMaxima" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaIngreso" class="control-label"></label>
                <input asp-for="fechaIngreso" class="form-control" />
                <span asp-validation-for="fechaIngreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacidad" class="control-label"></label>
                <input asp-for="Capacidad" class="form-control" />
                <span asp-validation-for="Capacidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group d-flex gap-3">
                <input type="submit" value="Crear" class="btn btn-primary mr-2" />
                <a asp-action="Index" class="btn btn-lg btn-outline-dark shadow-sm">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
